* {
	padding: 0 !important;
	margin: 0;
	  scroll-behavior: smooth;
}

body {
	font-family: "Oswald" !important;
	background-color: rgb(222, 217, 202) !important;
}

  a:link, a:visited, a:hover{
	text-decoration: none !important;
	color: white !important;
  }  

.titulo {
	text-decoration: underline;
	padding-top: 20px !important;
	font-size: calc(1.8rem + 0.5vw) !important;
	padding-bottom: 20px !important;
	background-color: rgb(62, 62, 62, 80%);
	position: relative;
	top: 250px !important;
	vertical-align: middle;
	align-items: center;
}

.tarjeta {
	width: cover;
	transition: transform 2s ease;
}

.tarjeta:hover {
    transform: scale(1.1); 
}

#tarjeta1{
	height: 600px !important;
	background-size: cover;
	background-image: url(../img/1.jpg);}

#tarjeta2{

	height: 600px !important;
	background-size: cover;
	background-image: url(../img/2.jpg);}


#tarjeta3{

	height: 600px !important;
	background-size: cover;
	background-image: url(../img/3.jpg);
	}

.deldia {
	align-items: center;
}

.parrafo1 {
	font-size: calc(1.2rem + 0.4vw) !important;}

.parrafo2 {
	font-size: calc(1.5rem + 0.5vw) !important;}

.cocteles {
	align-items: center;
	max-width: 1300px;
}

.gastronomia {
	align-items: center;
	max-width: 1300px;
}

h2 {
	background-color: #3e3d3d;
	font-size: calc(2.1rem + 0.5vw) !important;
}

h3 {
	text-decoration: underline;
	padding-top: 20px !important;
}

li {
	font-size: calc(0.9rem + 0.4vw) !important;
	list-style: none;
	padding-top: 8px !important;
}

footer {
	background-color: #3e3d3d;
}



/*medias*/


  @keyframes fade-down {
	0% {
		opacity: 0;
		transform: translateY(-30px) scale(0.9);	
	}
	100% {
		opacity: 1;
		transform: translateY(0px) scale(1);	
	}

}